$font-default: "AaarghNormal", "Helvetica Neue", Arial, sans-serif;
$font-mono: "DejaVu Sans Mono", Courier, "Helvetica Neue", Arial, sans-serif;
$font-default-path: "/blog/font/aaargh/Aaargh-webfont";

$font-icon: FontAwesome;
$font-icon-path: "/blog/font/fontawesome-webfont";

@font-face {
	font-family: 'FontAwesome';
	src: url('#{$font-icon-path}.eot');
	src: url('#{$font-icon-path}.eot?#iefix') format('embedded-opentype'),
		url('#{$font-icon-path}.woff') format('woff'),
		url('#{$font-icon-path}.ttf') format('truetype'),
		url('#{$font-icon-path}.svgz#FontAwesomeRegular') format('svg'),
		url('#{$font-icon-path}.svg#FontAwesomeRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AaarghNormal';
	src: url('#{$font-default-path}.eot');
	src: url('#{$font-default-path}.eot?#iefix') format('embedded-opentype'),
		url('#{$font-default-path}.woff') format('woff'),
		url('#{$font-default-path}.ttf') format('truetype'),
		url('#{$font-default-path}.svg#AaarghNormal') format('svg');
	font-weight: normal;
	font-style: normal;
}
